<a href="https://colab.research.google.com/github/beyzoskaya/OpenAI/blob/main/NLP-to-SQL/naturalLanguageToSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install openai

Collecting openai
  Downloading openai-0.28.0-py3-none-any.whl (76 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.5/76.5 kB 2.1 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from openai) (4.66.1)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from openai) (3.8.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2023.7.22)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (23.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (4.0.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.3.1)
Installing collected packages: openai
Successfully installed openai-0.28.0

In [2]:
import openai

In [3]:
import os

In [4]:
os.environ['OPENAI_API_KEY'] = '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'

In [5]:
os.getenv('OPENAI_API_KEY')[0]

's'

In [6]:
openai.api_key = os.getenv('OPENAI_API_KEY')

In [7]:
reponse = openai.Completion.create(
          model='text-davinci-003',
          prompt = 'Give me two reasons to learn OpenAI API with Python',
          max_tokens=300)

RateLimitError: ignored

In [25]:
# JSON object and I need to see only text
response['choices'][0]['text']
print(response['choices'][0]['text'])

NameError: ignored

In [8]:
import pandas as pd

In [12]:
df = pd.read_csv("sales_data_sample.csv")

In [13]:
df

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERDATE,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME
0,10107,30,95.70,2871.00,2/24/2003 0:00,1,2,2003,Motorcycles,2125557818,897 Long Airport Avenue,NYC,NY,10022,USA,Yu,Kwai
1,10121,34,81.35,2765.90,5/7/2003 0:00,2,5,2003,Motorcycles,26.47.1555,59 rue de l'Abbaye,Reims,NaN,51100,France,Henriot,Paul
2,10134,41,94.74,3884.34,7/1/2003 0:00,3,7,2003,Motorcycles,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,NaN,75508,France,Da Cunha,Daniel
3,10145,45,83.26,3746.70,8/25/2003 0:00,3,8,2003,Motorcycles,6265557265,78934 Hillside Dr.,Pasadena,CA,90003,USA,Young,Julie
4,10159,49,100.00,5205.27,10/10/2003 0:00,4,10,2003,Motorcycles,6505551386,7734 Strong St.,San Francisco,CA,NaN,USA,Brown,Julie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,2244.40,12/2/2004 0:00,4,12,2004,Ships,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,NaN,28034,Spain,Freyre,Diego
2819,10373,29,100.00,3978.51,1/31/2005 0:00,1,1,2005,Ships,981-443655,Torikatu 38,Oulu,NaN,90110,Finland,Koskitalo,Pirkko
2820,10386,43,100.00,5417.57,3/1/2005 0:00,1,3,2005,Ships,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,NaN,28034,Spain,Freyre,Diego
2821,10397,34,62.24,2116.16,3/28/2005 0:00,1,3,2005,Ships,61.77.6555,1 rue Alsace-Lorraine,Toulouse,NaN,31000,France,Roulet,Annette
2822,10414,47,65.52,3079.44,5/6/2005 0:00,2,5,2005,Ships,6175559555,8616 Spinnaker Dr.,Boston,MA,51003,USA,Yoshido,Juri

In [15]:
#df.groupby("QTR_ID").sum()["SALES"]

In [16]:
# What was the total sum of sales per quarter?
# --> SELECT SUM(SALES) FROM table WHERE...

In [17]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.20)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (2.0.2)

In [18]:
import sqlalchemy

In [19]:
from sqlalchemy import create_engine
from sqlalchemy import text

In [20]:
# Create temporary database in RAM
# Push Pandas DataFrame to temporary db
# Create SQL queries on temp db

In [21]:
temp_db = create_engine('sqlite:///:memory:', echo=True)

In [23]:
data = df.to_sql(name='Sales', con=temp_db)

2023-09-19 17:28:45,286 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-09-19 17:28:45,293 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Sales")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("Sales")

2023-09-19 17:28:45,299 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-09-19 17:28:45,302 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Sales")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("Sales")

2023-09-19 17:28:45,306 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-09-19 17:28:45,308 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

2023-09-19 17:28:45,312 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-09-19 17:28:45,315 INFO sqlalchemy.engine.Engine
CREATE TABLE "Sales" (
	"index" BIGINT,
	"ORDERNUMBER" BIGINT,
	"QUANTITYORDERED" BIGINT,
	"PRICEEACH" FLOAT,
	"SALES" FLOAT,
	"ORDERDATE" TEXT,
	"QTR_ID" BIGINT,
	"MONTH_ID" BIGINT,
	"YEAR_ID" BIGINT,
	"PRODUCTLINE" TEXT,
	"PHONE" TEXT,
	"ADDRESSLINE1" TEXT,
	"CITY" TEXT,
	"STATE" TEXT,
	"POSTALCODE" TEXT,
	"COUNTRY" TEXT,
	"CONTACTLASTNAME" TEXT,
	"CONTACTFIRSTNAME" TEXT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE "Sales" (
	"index" BIGINT,
	"ORDERNUMBER" BIGINT,
	"QUANTITYORDERED" BIGINT,
	"PRICEEACH" FLOAT,
	"SALES" FLOAT,
	"ORDERDATE" TEXT,
	"QTR_ID" BIGINT,
	"MONTH_ID" BIGINT,
	"YEAR_ID" BIGINT,
	"PRODUCTLINE" TEXT,
	"PHONE" TEXT,
	"ADDRESSLINE1" TEXT,
	"CITY" TEXT,
	"STATE" TEXT,
	"POSTALCODE" TEXT,
	"COUNTRY" TEXT,
	"CONTACTLASTNAME" TEXT,
	"CONTACTFIRSTNAME" TEXT
)

2023-09-19 17:28:45,318 INFO sqlalchemy.engine.Engine [no key 0.00219s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00219s] ()

2023-09-19 17:28:45,320 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Sales_index" ON "Sales" ("index")

INFO:sqlalchemy.engine.Engine:CREATE INDEX "ix_Sales_index" ON "Sales" ("index")

2023-09-19 17:28:45,322 INFO sqlalchemy.engine.Engine [no key 0.00199s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00199s] ()

2023-09-19 17:28:45,325 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2023-09-19 17:28:45,334 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-09-19 17:28:45,401 INFO sqlalchemy.engine.Engine INSERT INTO "Sales" ("index", "ORDERNUMBER", "QUANTITYORDERED", "PRICEEACH", "SALES", "ORDERDATE", "QTR_ID", "MONTH_ID", "YEAR_ID", "PRODUCTLINE", "PHONE", "ADDRESSLINE1", "CITY", "STATE", "POSTALCODE", "COUNTRY", "CONTACTLASTNAME", "CONTACTFIRSTNAME") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO "Sales" ("index", "ORDERNUMBER", "QUANTITYORDERED", "PRICEEACH", "SALES", "ORDERDATE", "QTR_ID", "MONTH_ID", "YEAR_ID", "PRODUCTLINE", "PHONE", "ADDRESSLINE1", "CITY", "STATE", "POSTALCODE", "COUNTRY", "CONTACTLASTNAME", "CONTACTFIRSTNAME") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

2023-09-19 17:28:45,403 INFO sqlalchemy.engine.Engine [generated in 0.03517s] [(0, 10107, 30, 95.7, 2871.0, '2/24/2003 0:00', 1, 2, 2003, 'Motorcycles', '2125557818', '897 Long Airport Avenue', 'NYC', 'NY', '10022', 'USA', 'Yu', 'Kwai'), (1, 10121, 34, 81.35, 2765.9, '5/7/2003 0:00', 2, 5, 2003, 'Motorcycles', '26.47.1555', "59 rue de l'Abbaye", 'Reims', None, '51100', 'France', 'Henriot', 'Paul'), (2, 10134, 41, 94.74, 3884.34, '7/1/2003 0:00', 3, 7, 2003, 'Motorcycles', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', 'Paris', None, '75508', 'France', 'Da Cunha', 'Daniel'), (3, 10145, 45, 83.26, 3746.7, '8/25/2003 0:00', 3, 8, 2003, 'Motorcycles', '6265557265', '78934 Hillside Dr.', 'Pasadena', 'CA', '90003', 'USA', 'Young', 'Julie'), (4, 10159, 49, 100.0, 5205.27, '10/10/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505551386', '7734 Strong St.', 'San Francisco', 'CA', None, 'USA', 'Brown', 'Julie'), (5, 10168, 36, 96.66, 3479.76, '10/28/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505556809', '9408 Furth Circle', 'Burlingame', 'CA', '94217', 'USA', 'Hirano', 'Juri'), (6, 10180, 29, 86.13, 2497.77, '11/11/2003 0:00', 4, 11, 2003, 'Motorcycles', '20.16.1555', '184, chausse de Tournai', 'Lille', None, '59000', 'France', 'Rance', 'Martine'), (7, 10188, 48, 100.0, 5512.32, '11/18/2003 0:00', 4, 11, 2003, 'Motorcycles', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', 'Bergen', None, 'N 5804', 'Norway', 'Oeztan', 'Veysel')  ... displaying 10 of 2823 total bound parameter sets ...  (2821, 10397, 34, 62.24, 2116.16, '3/28/2005 0:00', 1, 3, 2005, 'Ships', '61.77.6555', '1 rue Alsace-Lorraine', 'Toulouse', None, '31000', 'France', 'Roulet', 'Annette'), (2822, 10414, 47, 65.52, 3079.44, '5/6/2005 0:00', 2, 5, 2005, 'Ships', '6175559555', '8616 Spinnaker Dr.', 'Boston', 'MA', '51003', 'USA', 'Yoshido', 'Juri')]

INFO:sqlalchemy.engine.Engine:[generated in 0.03517s] [(0, 10107, 30, 95.7, 2871.0, '2/24/2003 0:00', 1, 2, 2003, 'Motorcycles', '2125557818', '897 Long Airport Avenue', 'NYC', 'NY', '10022', 'USA', 'Yu', 'Kwai'), (1, 10121, 34, 81.35, 2765.9, '5/7/2003 0:00', 2, 5, 2003, 'Motorcycles', '26.47.1555', "59 rue de l'Abbaye", 'Reims', None, '51100', 'France', 'Henriot', 'Paul'), (2, 10134, 41, 94.74, 3884.34, '7/1/2003 0:00', 3, 7, 2003, 'Motorcycles', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', 'Paris', None, '75508', 'France', 'Da Cunha', 'Daniel'), (3, 10145, 45, 83.26, 3746.7, '8/25/2003 0:00', 3, 8, 2003, 'Motorcycles', '6265557265', '78934 Hillside Dr.', 'Pasadena', 'CA', '90003', 'USA', 'Young', 'Julie'), (4, 10159, 49, 100.0, 5205.27, '10/10/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505551386', '7734 Strong St.', 'San Francisco', 'CA', None, 'USA', 'Brown', 'Julie'), (5, 10168, 36, 96.66, 3479.76, '10/28/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505556809', '9408 Furth Circle', 'Burlingame', 'CA', '94217', 'USA', 'Hirano', 'Juri'), (6, 10180, 29, 86.13, 2497.77, '11/11/2003 0:00', 4, 11, 2003, 'Motorcycles', '20.16.1555', '184, chausse de Tournai', 'Lille', None, '59000', 'France', 'Rance', 'Martine'), (7, 10188, 48, 100.0, 5512.32, '11/18/2003 0:00', 4, 11, 2003, 'Motorcycles', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', 'Bergen', None, 'N 5804', 'Norway', 'Oeztan', 'Veysel')  ... displaying 10 of 2823 total bound parameter sets ...  (2821, 10397, 34, 62.24, 2116.16, '3/28/2005 0:00', 1, 3, 2005, 'Ships', '61.77.6555', '1 rue Alsace-Lorraine', 'Toulouse', None, '31000', 'France', 'Roulet', 'Annette'), (2822, 10414, 47, 65.52, 3079.44, '5/6/2005 0:00', 2, 5, 2005, 'Ships', '6175559555', '8616 Spinnaker Dr.', 'Boston', 'MA', '51003', 'USA', 'Yoshido', 'Juri')]

2023-09-19 17:28:45,425 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2023-09-19 17:28:45,429 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-09-19 17:28:45,432 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2023-09-19 17:28:45,436 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-09-19 17:28:45,439 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

In [26]:
with temp_db.connect() as conn:
  # makes the connection
  # run code inside the indentation
  result = conn.execute(text("SELECT SUM(Sales) FROM Sales"))
  # auto close connection

2023-09-19 17:32:51,374 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-09-19 17:32:51,379 INFO sqlalchemy.engine.Engine SELECT SUM(Sales) FROM Sales

INFO:sqlalchemy.engine.Engine:SELECT SUM(Sales) FROM Sales

2023-09-19 17:32:51,381 INFO sqlalchemy.engine.Engine [generated in 0.00786s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00786s] ()

2023-09-19 17:32:51,389 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

In [27]:
result.all()

[(10032628.85000001,)]

In [ ]:
### sqlite SQL tables, with their properties:
#
# Employee(id,name,deparment_id)
# Department(id,name,address)
# Salary_Payments(id, employee_id, amount, date)
#

### A query to list the names of the department which employed more than 16
# SELECT

In [28]:
df.columns

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'SALES', 'ORDERDATE',
       'QTR_ID', 'MONTH_ID', 'YEAR_ID', 'PRODUCTLINE', 'PHONE', 'ADDRESSLINE1',
       'CITY', 'STATE', 'POSTALCODE', 'COUNTRY', 'CONTACTLASTNAME',
       'CONTACTFIRSTNAME'],
      dtype='object')

In [29]:
",".join(str(col) for col in df.columns)

'ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERDATE,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME'

In [33]:
def create_table_definition(df):
  prompt = """### sqlite SQL table, with it properties:
  #
  # Sales({})
  #
  """.format(",".join(str(col) for col in df.columns))

  return prompt

In [35]:
print(create_table_definition(df))

### sqlite SQL table, with it properties:
  #
  # Sales(ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERDATE,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME)
  #

In [36]:
def prompt_input():
  nlp_text = input("Enter the info you want:")
  return nlp_text

In [37]:
prompt_input()

Enter the info you want:grap all sales per quarter

'grap all sales per quarter'

In [38]:
def combine_prompts(df, query_prompt):
  definition = create_table_definition(df)
  query_init_string = f"### A query to answer: {query_prompt}\nSELECT"
  return definition+query_init_string

In [39]:
nlp_text = prompt_input() # NLP
combine_prompts(df, nlp_text) # DF + query that does ... + NLP

Enter the info you want:total sales per quarter

'### sqlite SQL table, with it properties:\n  #\n  # Sales(ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERDATE,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME)\n  #\n  ### A query to answer: total sales per quarter\nSELECT'

In [ ]:
response = openai.Completion.create(
    model= 'code-davinci-002',
    prompt = combine_prompts(df, nlp_text),
    temperature = 0,
    max_tokens = 150,
    top_p = 1.0,
    frequency_penalty = 0,
    presence_penalty = 0,
    stop = ['#', ';']
)

In [ ]:
response['choices'][0]['text']

In [ ]:
def handle_response(response):
  query = response['choices'][0]['text']
  if query.startswith(" "):
    query = "SELECT"+query
  return query

In [ ]:
handle_response(response)

In [ ]:
with temp_db.connect() as conn:
  result = conn.execute(text(handle_response(response)))